# Server
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL=DATABASE_URL="postgresql://admin:1234@172.26.243.70:5432/uptoyoushop"

# JWT
JWT_SECRET=your-secret-key-here
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=your-refresh-secret-here
JWT_REFRESH_EXPIRATION=7d

# CORS
CORS_ORIGIN=http://localhost:3000

# Cookie
COOKIE_SECRET=your-cookie-secret
